*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    background: #1b1b1b;
    height: 80px;
    width: 100%;
}
label.logo{
    font-size: 39px;
    line-height: 80px;
    padding: 0 100px;
    color: white;
    font-weight: 500;
}
nav ul{
    float: right;
    margin-right: 60px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
nav ul li a{
    color: white;
    font-size: 29px;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 5px;
}
nav ul li a.active,a:hover{
    color: cyan;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 60px;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 49px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #1b1b1b;
        top: 80px;
        left: -100%;
        transition: all .5s ease;
    }
    nav ul li{
        display: block;
    }
    nav ul li a.active,a:hover{
        background: none;
        color: cyan;
    } 
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}